version: "3.9"
services:
  app:
    container_name: webapp
    build: .
    ports:
      - 8501:8501
  nginx:
    image: nginx
    container_name: reverse-proxy
    env_file:
      - .env
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ~/cert/key.key:/root/ssl/key.key
      - ~/cert/cert.cer:/root/ssl/cert.cer
    ports:
      - "443:443"
      - "80:80"
    depends_on:
      - app
