name: SSH Action

on:
  push:
    branches:
      - main

jobs:
  copy-certificate:
    runs-on: ubuntu-latest
    steps:
      - name: Set up SSL certificate
        run: |
          echo "${{ secrets.SSL_CERTIFICATE }}" > ssl-certificate.crt
          echo "${{ secrets.SSL_PRIVATE_KEY }}" > ssl-private-key.key
      
      - name: Copy SSL certificate and key to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            mkdir -p ~/cert
            echo ${SSL_CERTIFICATE} >> ~/cert/cert.cer
            echo ${SSL_PRIVATE_KEY} >> ~/cert/key.key
        env:
          SSL_CERTIFICATE: ${{ secrets.SSL_CERTIFICATE }}
          SSL_PRIVATE_KEY: ${{ secrets.SSL_PRIVATE_KEY }}
  
  run_ssh_script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Run SSH script
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: ${{ secrets.SSH_PORT }}
          script:
           cd aloha-team-sai/;
           git pull;
           docker-compose down;
          #  docker-compose up -d;
          #  image_id=`docker images -q`;
          #  docker build -t aloha-team-sai .;
          #  docker container stop aloha-container;
          #  docker container remove aloha-container;
          #  docker run -d -p 8501:8501 --name aloha-container aloha-team-sai;
          #  docker image rm $image_id;
           
           

