name: SSH Action

on:
  push:
    branches:
      - main

jobs:
  run_ssh_script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Run SSH script
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          port: ${{ secrets.SSH_PORT }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            ssh ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }} -p ${{ secrets.SSH_PORT }} "if [ ! -f ~/text_file.txt ]; then touch ~/text_file.txt; fi; echo \"$(date '+%Y-%m-%d %H:%M:%S') github action made me do this lol\" >> ~/text_file.txt"
