name: SSH Action

on:
  push:
    branches:
      - main

jobs:
  deploy-application:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Run SSH script
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: ${{ secrets.SSH_PORT }}
          script: |
           cd aloha-team-sai/;
           git pull;
           docker-compose down --rmi all;
           docker-compose up -d;
